<div class="page__footer-follow">
	<ul class="social-icons">
		{% if site.data.ui-text[site.locale].follow_label %}
			<li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
		{% endif %}

		{% if site.footer.social_links %}
			{% for link in site.footer.social_links %}
				{% if link.label and link.url %}
					<li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
				{% endif %}
			{% endfor %}
		{% endif %}

		<li>
			<a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a>
		</li>
	</ul>
</div>

<div class="page-footer-legal">
	<div class="page-footer-legal-copyright">
		&copy; {{ site.time | date: '%Y' }} {{ site.legal_name }} All rights reserved.
		<span class="legal-links">
			{% if site.footer.legal_links %}
				{% for link in site.footer.legal_links %}
					{% if link.label and link.url %}
						<a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.label }}</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		</span>
	</div>
</div>